.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #efffff;
    padding: 6em;
    height: 100vh;
}   
    
.login h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login h1{
    font-family: 'Montserrat',sans-serif;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginForm input{
    margin: .5em;
    font-family: 'Recursive';
    padding: .5em;
}

.loginForm Button{
   margin: .5em 0;
   font-family: 'Recursive',sans-serif ;
}